<%= form_for(@hand_state) do |f| %>
  <% if @hand_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hand_state.errors.count, "error") %> prohibited this hand_state from being saved:</h2>

      <ul>
      <% @hand_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="box">
<table id="table-1" border="1" cellpadding="10"> 
		
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span><p align="center" >AND</p><span class="hiddentext">...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span><p align="center">OR</p><span class="hiddentext">...)</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center">+</p><span class="hiddentext">...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center">-</p><span class="hiddentext">...)</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span><p align="center">></p><span class="hiddentext">...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center"><</p><span class="hiddentext">...)</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center">>=</p><span class="hiddentext">...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center"><=</p><span class="hiddentext">...)</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center">=</p><span class="hiddentext">...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <span class="hiddentext">(...</span> <p align="center">!=</p><span class="hiddentext">...)</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">HCP</p><span class="hiddentext">()</span></div></td>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">SHAPE</p><span class="hiddentext">()</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">CLUBS</p><span class="hiddentext">()</span></div></td>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">DIAMONDS</p><span class="hiddentext">()</span></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">SPADES</p><span class="hiddentext">()</span></div></td>
		<td><div id="draggable" class="ui-widget-header">  <p align="center">HEARTS</p><span class="hiddentext">()</span></div></td>
	</tr>
		<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">ANY</p><span class="hiddentext">(...)</span></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">()</p></div></td>
	</tr>
	
	
	
</table>
</div>
<p>Drop Expression Below</p>
<div id="droppable" class="ui-widget-content"></div>

<% end %>
