<%= form_for(@hand_state) do |f| %>
  <% if @hand_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hand_state.errors.count, "error") %> prohibited this hand_state from being saved:</h2>

      <ul>
      <% @hand_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="box">
<table id="table-1" cellpadding="10"> 
		
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center" >AND</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">OR</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">+</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">-</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">></p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center"><</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">>=</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center"><=</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">=</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">!=</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">HCP</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">SHAPE</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">CLUBS</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">DIAMONDS</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">SPADES</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">HEARTS</p></div></td>
	</tr>
	
	<tr>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">ANY</p></div></td>
		<td><div id="draggable" class="ui-widget-header"> <p align="center">()</p></div></td>
	</tr>
	
	
	
</table>
</div>

<p>Drop Expression Below</p>

<table id="grid" width="800" height="200" border="2" >
<tr>
	<td align="center">
		
	</td>
</tr>	
</table>



<% end %>
