<table height="300" width="300" border="1">
	<tr>
		<td>
			<P style="color: #FF9140">NORTH</P>
			<P>5 6 </P>
			<P>4 5 6 J K </P>
			<P>4 5 6 J </P>
			<P>4 5 </P>
		</td>
		<td>
			<P style="color: #FF9140">EAST</P>
			<P>7 8 J Q K </P>
			<P>7 </P>
			<P>7 K </P>
			<P>6 7 J Q K </P>
		</td>
	</tr>
	
	<tr>
		<td>
			<P style="color: #FF9140">WEST</P>
			<P>2 3 4 </P>
			<P>2 3 A </P>
			<P>2 3 Q A </P>
			<P>2 3 A </P>
		</td>
		<td>
			<P style="color: #FF9140">SOUTH</P>
			<P>9 T A </P>
			<P>8 9 T Q </P>
			<P>8 9 T </P>
			<P>8 9 T </P>
		</td>
	</tr>
</table>
