<table height="300" width="300" border="1">
	<tr>
		<td>
			<P>NORTH</P>
			<P>A 9 8 5 </P>
			<P>T 5</P>
			<P>3 </P>
			<P>A 9 8 5 4 3 </P>
		</td>
		<td>
			<P>EAST</P>
			<P>Q T </P>
			<P>K 9 4 3 </P>
			<P>J T 7 6 2 </P>
			<P>K Q </P>
		</td>
	</tr>
	
	<tr>
		<td>
			<P>WEST</P>
			<P>K J 3 </P>
			<P>A Q 7 2 </P>
			<P>A Q 9 5 4 </P>
			<P>J </P>
		</td>
		<td>
			<P>SOUTH</P>
			<P>7 6 4 2 </P>
			<P>J 8 6 </P>
			<P>K 8 </P>
			<P>T 7 6 2 </P>
		</td>
	</tr>
</table>
