<table height="300" width="300" border="1">
	<tr>
		<td>
			<P style="color: #FF9140">NORTH</P>
			<P>A T 5 4 </P>
			<P>Q 6 </P>
			<P>Q T 5 </P>
			<P>A 9 8 6 </P>
		</td>
		<td>
			<P style="color: #FF9140">EAST</P>
			<P>K 8 7 </P>
			<P>J T 5 </P>
			<P>8 6 3 </P>
			<P>K T 7 2 </P>
		</td>
	</tr>
	
	<tr>
		<td>
			<P style="color: #FF9140">WEST</P>
			<P>Q J 2 </P>
			<P>K 9 8 4 3 </P>
			<P>A J 4 2 </P>
			<P>5 </P>
		</td>
		<td>
			<P style="color: #FF9140">SOUTH</P>
			<P>9 6 3 </P>
			<P>A 7 2 </P>
			<P>K 9 7 </P>
			<P>Q J 4 3 </P>
		</td>
	</tr>
</table>