<table height="300" width="300" border="1">
	<tr>
		<td>
			<P>NORTH</P>
			<P>A J 4 3 </P>
			<P>J 4 </P>
			<P>A Q 7 </P>
			<P>8 7 4 2 </P>
		</td>
		<td>
			<P>EAST</P>
			<P>T 9 </P>
			<P>Q 6 3 </P>
			<P>K 9 8 5 2 </P>
			<P>Q J 3 </P>
		</td>
	</tr>
	
	<tr>
		<td>.l
			<P>WEST</P>
			<P>K Q 6 5 </P>
			<P>A T 9 7 5 </P>
			<P>6 4 3 </P>
			<P>T </P>
		</td>
		<td>
			<P>SOUTH</P>
			<P>8 7 2 </P>
			<P>K 8 2 </P>
			<P>J T </P>
			<P>A K 9 6 5 </P>
		</td>
	</tr>
</table>