<p>Thanks for registring on www.bidpal.com.</p>

<p>A mail has been sent to your email address, please follow the confirmation link to confirm the registration process.</p>

<p>For any queries please write to us at ammar_nasikwala@persistent.co.in</p>

