
<br /> <br />


<style type="text/css">
#div1 {
    position:absolute;
    top: 5%;
    left: 5%;
    margin-top: 20px; 
}

#div2 {
    position:absolute;
    top: 45%;
    left: 2%;
    margin-top: 20px; 
}

</style>

<div id="div1">
<h2>Bidplay - Bridge bidding practice site</h2>
<div/>


<div id="div2">
<%= link_to "Administrator", :admin %>
<%= link_to "Player", :dealer %>
<div/>



