<table>
<tr>
	<td>
	</td>
	<td>
	<h2> Chatter box </h2>
	</td>
	<td>
	</td>
</tr>

<tr>

</tr>
</table>
	<div id="TextEdit" class="editable">
	<table width = "320" style="table-layout:fixed" >
    <% if @chat_message %>
	<% @chat_messages.each do |chat_message| %>
	<tr>
	 <td><%= chat_message.name %></td>
	 <td align = right><div style="word-wrap: break-word;"><%= chat_message.message %></div></td>	
	</tr>
	<br />

	<% end %>
	<% end %>
	</table>
</div>

<script type="text/javascript">
			setTimeout(function() {Ajax();}, 10000);
</script>


 
<%= render 'form' %>

 
<br />
<%= button_to "Back", hand_states_path, :method => "get" %>
