body {
  background-color: #f1f0f1;
  color: #088da5;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table, tr, td {
  border: 1px;
  padding: 5px;
  border-spacing: 5px;
}

#box{
  border: 1px solid black;
  width: 280px; 
}

.hiddentext {
   display: none;
}
 
 
 li { display: inline; 
               padding-left: 3px;
             }
 
pre {
  background-color: #088da5;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #088da5;
  &:visited {
    color: #088da5;
  }
  &:hover {
    color: #c5886e;
    background-color: #f1f0f1;
  }
}

      .editable {
        border-top-width : 1px;
        border-right-width : 1px;
        border-bottom-width : 1px;
        border-left-width : 1px;
        border-style  : solid;
        width:350px;
        height:200px;
        overflow:scroll;
        overflow-x:hidden;
        }

img {
 box-shadow: 10px 10px 5px #888888;
 } 


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#draggable { width: 100px; height: 25px; padding: 0.5em; }
#droppable { width: 600px; height: 100px; padding: 0.5em; float: left; margin: 10px; }

#footer {
 
  bottom:0px;
  margin-left: 35%;
  position:fixed;
  text-align:center;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
