body {
  background-color: white;
  color: #009E8E;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.headerstyle {
  background-color: #34CFBE;
  color: white;
  width: 100%;
  height: 120px;  
 }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table, tr, td {
 
  padding: 2px;
  border-spacing: 2px;
}



#box{
  border: 1px solid black;
  width: 250px; 
}

#box2{
  border: 2px solid #009E8E;
  width: 99%;
  height: 30px; 
}

.hiddentext {
   display: none;
}
 
 
 li { display: inline; 
               padding-left: 3px;
             }
 
pre {
  background-color: #009E8E;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #009E8E;
  &:visited {
    color: #009E8E;
  }
  &:hover {
    color: #FF6C00;
    background-color: white;
  }
}

      .editable {
        border-top-width : 1px;
        border-right-width : 1px;
        border-bottom-width : 1px;
        border-left-width : 1px;
        border-style  : solid;
        width:350px;
        height:200px;
        overflow:scroll;
        overflow-x:hidden;
        background-color: white;
        }
        
          .editable2 {
        border-top-width : 1px;
        border-right-width : 1px;
        border-bottom-width : 1px;
        border-left-width : 1px;
        border-style  : solid;
        width:120px;
        height:200px;
        overflow:scroll;
        overflow-x:hidden;
        background-color: white;

        }



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#draggable { width: 100px; height: 25px; padding: 0.5em; }

#droppable { width: 800px; height: 200px; padding: 0.5em; float: left; margin: 10px; }


#footer {
 
  bottom:0px;
  margin-left: 35%;
  position:fixed;
  text-align:center;
  color: #FF6C00;
}


#notice {
  color: #009E8E ;
}

.field_with_errors {
  padding: 2px;
  background-color: #FF6C00;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px #FF6C00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #FF6C00;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #FF6C00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
