<!DOCTYPE html>
<html>
<head>
  <title>BidPal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>	
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script> 
  <link rel="stylesheet" href="/resources/demos/style.css" />

  
  <script type="text/javascript">

			function Ajax()
			{
				var
					$http,
					$self = arguments.callee;

				if (window.XMLHttpRequest) {
					$http = new XMLHttpRequest();
				} else if (window.ActiveXObject) {
					try {
						$http = new ActiveXObject('Msxml2.XMLHTTP');
					} catch(e) {
						$http = new ActiveXObject('Microsoft.XMLHTTP');
					}
				}

				if ($http) {
					$http.onreadystatechange = function()
					{
						if (/4|^complete$/.test($http.readyState)) {
							document.getElementById('TextEdit').innerHTML = $http.responseText;
							setTimeout(function(){$self();}, 10000);
						}
					};
					$http.open('GET', 'http://localhost:3000/refreshing' + '?' + new Date().getTime(), true);
					$http.send(null);
				}

			}
			

			function EditDiv() {
			var div1ID = "grid";
			var div2ID = "left";
			var div3ID = "right";
			for (var i=0; i<=10 ; i++ )
			{
				div1ID = div1ID + i;
				div2ID = div2ID + i;
				div3ID = div3ID + i;
				
				var div1Object = document.getElementById(div1ID);
			 	div1Object.contentEditable = 'true';
			 	div1Object.designMode = 'on';
			 	
			 	var div2Object = document.getElementById(div2ID);
			 	div2Object.contentEditable = 'true';
			 	div2Object.designMode = 'on';
			 	
			 	var div3Object = document.getElementById(div3ID);
			 	div3Object.contentEditable = 'true';
			 	div3Object.designMode = 'on';
			} 
			var divID = "grid";
		
			 var divObject = document.getElementById(divID);
			 divObject.contentEditable = 'true';
			 divObject.designMode = 'on';
			 
			void 0;					
			}
			
			
			var count = 0;
			var tdLeft = "left0";
			var tdRight = "right0";
			var tID ="grid0";
			var Droppable = "#grid";
			var rowTab = "#grid0";
			var tdTab = rowTab + " tr";
			
	   		
    		function dropitem()
    		{
    			if(count < 1 )
    			{
    			   $( "#grid" ).droppable({	
					activeClass: "ui-state-default",      
					hoverClass: "ui-state-hover",      
					accept: ":not(.ui-sortable-helper)",
					tolerance:'pointer',
					drop: function( event, ui ) {
											
					$( this ).find( ".placeholder" ).remove();
				 	$( "<table id='" + tID + "' width='95%' height='190' border='2'></table>"  ).appendTo( this );			
					$( "<tr></tr>"  ).appendTo( rowTab );
				  	$( "<td id='" + tdLeft + "'></td>"  ).appendTo( tdTab );  
				    $( "<td align='center'></td>"  ).text( ui.draggable.text() ).appendTo( tdTab );     
				    $( "<td id='" + tdRight + "'></td>"  ).appendTo( tdTab );
					
					
					count = count + 1;
		  			tID = "grid" + count;
					tbLeft = "left" + count;
					tbRight = "right" + count;
					rowTab = "#grid" + count;
					tdTab = rowTab + " tr";	
					
					}
 
					});
				}
				else
				{
					makeLRDroppable();
				}
    		}
    		
    		function makeLRDroppable()
    		{
    			for ( var i=0; i<=10; i++ ) {
    				
			    	$( '#right' + i ).droppable( {
			    	greedy: true,
			    	activeClass: "ui-state-default",      
					hoverClass: "ui-state-hover",      
					accept: ":not(.ui-sortable-helper)",
					tolerance:'pointer',
			    	
			      	drop: handleCardDrop,
			  		over: function(event, ui){
            		$( "#grid" ).droppable( "disable" )
        			}
			  		       
					});
  				}
  			
  				for ( var i=0; i<=10; i++ ) {
			    	$( '#left' + i ).droppable( {
			    	greedy: true,
			    	activeClass: "ui-state-default",      
					hoverClass: "ui-state-hover",      
					accept: ":not(.ui-sortable-helper)",
					tolerance:'pointer',
			   			
			       	drop: handleCardDrop,
			  		over: function(event, ui){
            		$( "#grid" ).droppable( "disable" )
        			}
			  		       
					});
  				}
 
            }
				
			
				
				function handleCardDrop( event, ui ) {
					$( this ).find( ".placeholder" ).remove();
				 	$( "<table id='" + tID + "' width='95%' height='190' border='2'></table>"  ).appendTo( this );			
					$( "<tr></tr>"  ).appendTo( rowTab );
				  	$( "<td id='" + tdLeft + "'></td>"  ).appendTo( tdTab );  
				    $( "<td align='center'></td>"  ).text( ui.draggable.text() ).appendTo( tdTab );     
				    $( "<td id='" + tdRight + "'></td>"  ).appendTo( tdTab );
				
					count = count + 1;
		  			tID = "grid" + count;
					tbLeft = "left" + count;
					tbRight = "right" + count;
					rowTab = "#grid" + count;
					tdTab = rowTab + " tr";	
			    
			  	}
				
    	
    		
    		function handleDragStop( event, ui ) {
  				var offsetXPos = parseInt( ui.offset.left );
  				var offsetYPos = parseInt( ui.offset.top );
  			}
					
			$(function() {    $( "#table-1 td" ).draggable({
				appendTo: "body",
				cursor: 'pointer',
				helper: "clone",
			});
		
			});
			
	</script>
</head>

<body onmousemove="return EditDiv()">
	
<%= yield %>

</body>
</html>
