<!DOCTYPE html>
<html>
<head>
  <title>BidPal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>	
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script> 
  <link rel="stylesheet" href="/resources/demos/style.css" />

  
  <script type="text/javascript">

			function Ajax()
			{
				var
					$http,
					$self = arguments.callee;

				if (window.XMLHttpRequest) {
					$http = new XMLHttpRequest();
				} else if (window.ActiveXObject) {
					try {
						$http = new ActiveXObject('Msxml2.XMLHTTP');
					} catch(e) {
						$http = new ActiveXObject('Microsoft.XMLHTTP');
					}
				}

				if ($http) {
					$http.onreadystatechange = function()
					{
						if (/4|^complete$/.test($http.readyState)) {
							document.getElementById('TextEdit').innerHTML = $http.responseText;
							setTimeout(function(){$self();}, 10000);
						}
					};
					$http.open('GET', 'http://localhost:3000/refreshing' + '?' + new Date().getTime(), true);
					$http.send(null);
				}

			}
			
			var divID = "droppable";
 
			function EditDiv() {
			 
			var divObject = document.getElementById(divID);
			 
			divObject.contentEditable = 'true';
			 
			divObject.designMode = 'on';
			 
			void 0;
			 
			}

			
			$(function() {    $( "#table-1 td" ).draggable({
				appendTo: "body",
				helper: "clone"
			});
			$( "#droppable" ).droppable({
				activeClass: "ui-state-default",      
				hoverClass: "ui-state-hover",      
				accept: ":not(.ui-sortable-helper)",
				  drop: function( event, ui ) {
				  
				      $( this ).find( ".placeholder" ).remove();
				      $( "<li></li>"  ).text( ui.draggable.text() ).appendTo( this );      
				  } 
				         
			});
			});
			
	</script>
</head>

<body onmousemove="return EditDiv()">
	
<%= yield %>

</body>
</html>